{% extends "base.html.twig" %}

{% block stylesheets%}
        <link rel="stylesheet" href="{{ asset('css/eventFestival.css') }}">
{% endblock %}

{% block body %}
    <h1>Evenements du festival : {{ evenements[0].festival.nom }}</h1>

        <section>
            {% for evenement in evenements %}
                <div class="wrapperFavoris wrapper">
                    <h2>{{ evenement.nom }}</h2>
                    <div>Dates : {{ evenement.dateEv|date('d/m/Y') }}</div>
                    <div>Heure début : {{ evenement.heureDebut|date('H:i') }}</div>
                    <div>Durée : {{ evenement.dureeEv|date('H:i') }}</div>
                    <div>Type : {{ evenement.typeEvent.typeEvent }}</div>
                    <div>Lieu : {{ evenement.lieuEvent.adresse }}</div>
                    <div>Groupe : {{evenement.groupe.nomGroupe}}</div>
                    <div>{{ evenement.lieuEvent.nombrePlaceLieu }} place</div>
                    <div><a href="{{ path('evenement.show', { id : evenement.id })}}">voir</a></div>
                    {% if app.user %}
                        {% if 'ROLE_SPECTATEUR' in app.user.roles %}
                                <div><a href="{{ path('evenement.participe', {id : evenement.id} )}}">participer</a></div>
                        {% endif %}
                    {% endif %}
                    {% if app.user %}
                        {% if app.user.spectateur in evenement.spectateurs %}
                            <div><img src="{{asset('images/ticketConcert.png')}}" alt="" class="imgTicket"></div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </section>     

{% endblock %}