{% extends "base.html.twig" %}

{% block stylesheets%}
        <link rel="stylesheet" href="{{ asset('css/mesEvenements.css') }}">
{% endblock %}


{% block body %}
    <h1>Vos evenements</h1>
    {% if is_granted('ROLE_MEMBRE') %}
        <h2>En tant que membres :</h2>
        <section>
        {% if evenementsMembre is not null %}
            {% if evenementsMembre is not empty %}
                    
                {% for evenement in evenementsMembre %}
                <div class="wrapperFavoris wrapper">
                        <h2>{{ evenement.festival.nom }}</h2>
                        <h2>{{ evenement.nom }}</h2>
                        <div>{{ evenement.dateEv|date('d/m/Y') }}</div>
                        <div>Heure de début : {{ evenement.heureDebut|date('H:i') }}h</div>
                        <div>Durée {{ evenement.dureeEv|date('H:i') }}h</div>
                        <div>{{ evenement.typeEvent.typeEvent }} au {{ evenement.lieuEvent.adresse }}</div>
                        <div></div>
                        <div>{{ evenement.lieuEvent.nombrePlaceLieu }}</div>
                        <div><a href="{{ path('evenement.show', { id : evenement.id })}}">voir</a></div>
                    </div>
                    
                {% endfor %} 
            {% else %}
                <h3>Aucun événement</h3>
            {% endif %}
        {% else %}
            <h3>Aucun événement</h3>
        {% endif %}
        </section>
        
        
    {% endif %} 
    {% if is_granted('ROLE_SPECTATEUR') %}
    <h2>En tant que Spectateurs :</h2>

       <section>
            {% if evenementsSpectateur is not null %}
                {% if evenementsSpectateur is not empty %}
                
                
                    {% for evenement in evenementsSpectateur %}
                        <div class="wrapperFavoris wrapper">
                            <h2>{{ evenement.nom }}</h2>
                            <div>{{ evenement.dateEv|date('d/m/Y') }}</div>
                            <div>Heure de début : {{ evenement.heureDebut|date('H:i') }}h</div>
                            <div>Durée {{ evenement.dureeEv|date('H:i') }}h</div>
                            <div>{{ evenement.typeEvent.typeEvent }} au {{ evenement.lieuEvent.adresse }}</div>
                            <div></div>
                            <div>{{evenement.groupe.nomGroupe}}</div>
                            <div>{{ evenement.lieuEvent.nombrePlaceLieu }}</div>
                            <div><a href="{{ path('evenement.show', { id : evenement.id })}}">voir</a></div>
                        </div>
                    {% endfor %}
            {% else %}
                <h3>Aucun événement</h3>
            {% endif %}
        {% else %}
            <h3>Aucun événement</h3>
        {% endif %}
        </section>
        
    {% endif %} 

{% endblock %}