{% extends "base.html.twig" %}

{% block stylesheets%}
        <link rel="stylesheet" href="{{ asset('css/mesEvenements.css') }}">
{% endblock %}


{% block body %}
    <h1>Vos evenements</h1>
    {% if 'ROLE_MEMBRE' in app.user.roles %}
        <div>
            <h2>En tant que membres :</h2>
        {% if evenementsMembre is not null %}
            {% if evenementsMembre is not empty %}
                
                    <div class = "informationFestival">
                        <p>Nom du festival</p>
                        <p>Nom evenement</p>
                        <p>date</p>
                        <p>Heure début</p>
                        <p>durée</p>
                        <p>Type</p>
                        <p>Adresse</p>
                        <p>Nombre de place</p>
                    </div>
                        {% for evenement in evenementsMembre %}
                            <div class="wrapper">
                                <div>{{ evenement.festival.nom }}</div>
                                <div>{{ evenement.nom }}</div>
                                <div>{{ evenement.dateEv|date('d/m/Y') }}</div>
                                <div>{{ evenement.heureDebut|date('H:i') }}</div>
                                <div>{{ evenement.dureeEv|date('H:i') }}</div>
                                <div>{{ evenement.typeEvent.typeEvent }}</div>
                                <div>{{ evenement.lieuEvent.adresse }}</div>
                                <div>{{ evenement.lieuEvent.nombrePlaceLieu }}</div>
                                <div><a href="{{ path('evenement.show', { id : evenement.id })}}">voir</a></div>

                            </div>
                        {% endfor %} 
            {% else %}
                <h3>Aucun événement</h3>
            {% endif %}
        {% else %}
            <h3>Aucun événement</h3>
        {% endif %}
        </div>
        
        
    {% endif %} 
    {% if 'ROLE_SPECTATEUR' in app.user.roles %}
       <section>
            <h2>En tant que Spectateurs :</h2>
            {% if evenementsSpectateur is not null %}
                {% if evenementsSpectateur is not empty %}
                
                
                    <div class = "informationFestival">
                        <p>Nom du festival</p>
                        <p>Nom evenement</p>
                        <p>date</p>
                        <p>Heure début</p>
                        <p>durée</p>
                        <p>Type</p>
                        <p>Adresse</p>
                        <p>Nombre de place</p>
                    </div>
                    {% for evenement in evenementsSpectateur %}
                        <div class="wrapper">
                            <div>{{ evenement.festival.nom }}</div>
                            <div>{{ evenement.nom }}</div>
                            <div>{{ evenement.dateEv|date('d/m/Y') }}</div>
                            <div>{{ evenement.heureDebut|date('H:i') }}</div>
                            <div>{{ evenement.dureeEv|date('H:i') }}</div>
                            <div>{{ evenement.typeEvent.typeEvent }}</div>
                            <div>{{ evenement.lieuEvent.adresse }}</div>
                            <div>{{ evenement.lieuEvent.nombrePlaceLieu }}</div>
                            <div><a href="{{ path('evenement.show', { id : evenement.id })}}">voir</a></div>
                        </div>
                    {% endfor %}
            {% else %}
                <h3>Aucun événement</h3>
            {% endif %}
        {% else %}
            <h3>Aucun événement</h3>
        {% endif %}
        </section>
        
    {% endif %} 

{% endblock %}