{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <h1>Evenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>DateEv</th>
                <th>HeureDebut</th>
                <th>TempsMontage</th>
                <th>DureeEv</th>
                <th>TempsDemontage</th>
                <th>IsPayant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.nom }}</td>
                <td>{{ evenement.dateEv ? evenement.dateEv|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.heureDebut ? evenement.heureDebut|date('H:i:s') : '' }}</td>
                <td>{{ evenement.tempsMontage ? evenement.tempsMontage|date('H:i:s') : '' }}</td>
                <td>{{ evenement.dureeEv ? evenement.dureeEv|date('H:i:s') : '' }}</td>
                <td>{{ evenement.tempsDemontage ? evenement.tempsDemontage|date('H:i:s') : '' }}</td>
                <td>{{ evenement.isPayant ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('evenement.show', {'id': evenement.id}) }}">show</a>
                    <a href="{{ path('evenement.edit', {'id': evenement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evenement.new') }}">Create new</a>
{% endblock %}
