{% extends "base.html.twig" %}



{% block stylesheets%}
        <link rel="stylesheet" href="{{ asset('css/showEvenement.css') }}">
{% endblock %}

{% block body %}
    <h1>Evenement : {{ evenement.nom }}</h1>

        {% for message in app.flashes('success') %}
			<div>
				{{ message }}
			</div>
		{% endfor %}

    
        <ul>
            <li class="carteInfo"> 
                <h2>INFOS</h2>
                <div>Date : {{evenement.dateEv|date('Y:M:d')}}</div>
                <div>Heure début : {{evenement.heureDebut|date('h:m')}}</div>
                <div>Durée : {{evenement.dureeEv|date('h:m')}}</div>
                <div>{{evenement.typeEvent.typeEvent}}</div>
                <div>Adresse : {{evenement.lieuEvent.adresse}}</div>
                <div>Nombre de place total : {{ evenement.lieuEvent.nombrePlaceLieu }}</div>
            </li>
            <li class="carteGroupe">
                <p>Groupe : {{evenement.groupe.nomGroupe}}</p>
                <ul>
                    <li>
                        <p>Style :</p> 
                        <ul>
                            {% for style in evenement.groupe.styles %}
                                <li>{{style.nomStyle}}</li>
                            {% endfor %}
                        </ul> 
                    </li>
                    <li>
                        <p>Membres :</p> 
                        <ul>
                            {% for membre in evenement.groupe.membres %}
                                <li>{{membre.nom}} {{membre.prenom}} joue :<ul>
                                    {% for instrument in membre.instruments %}
                                        <li> -{{instrument.nomInstrument}}</li>
                                    {% endfor %}
                                </ul></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
           
        </ul>

        {% if app.user %}
        {% if app.user.membre is not null %}
        
        {% if app.user.membre.id in membres %}
            <h2>INFOS AUX MEMBRES</h2>
            <ul>
                <li>Temps montage : {{evenement.tempsMontage|date('h:m:s')}}</li>
                <li>Temps démontage : {{evenement.tempsDemontage|date('h:m:s')}}</li>
                <li>Temps transport : <ul>
                    {% for tempsTransport in evenement.lieuEvent.tempsTransports %}        
                        <li><ul>
                            {% if tempsTransport.lieu1.adresse == evenement.lieuEvent.adresse %}
                                <li>Destination : {{tempsTransport.lieu2.adresse}}</li>
                            {% else %}
                                <li>Destination : {{tempsTransport.lieu1.adresse}}</li>
                            {% endif %}
                            <li>Temps : {{tempsTransport.temps|date('h:m:s')}}</li>
                        </ul></li>
                    {% endfor %}
                </ul></li>
                
            </ul>
        {% endif %}
        {% endif %}
        {% endif %}
        


{% endblock %}