{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ evenement.nom }}</td>
            </tr>
            <tr>
                <th>DateEv</th>
                <td>{{ evenement.dateEv ? evenement.dateEv|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>HeureDebut</th>
                <td>{{ evenement.heureDebut ? evenement.heureDebut|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>TempsMontage</th>
                <td>{{ evenement.tempsMontage ? evenement.tempsMontage|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DureeEv</th>
                <td>{{ evenement.dureeEv ? evenement.dureeEv|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>TempsDemontage</th>
                <td>{{ evenement.tempsDemontage ? evenement.tempsDemontage|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsPayant</th>
                <td>{{ evenement.isPayant ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evenement.index') }}">back to list</a>

    <a href="{{ path('evenement.edit', {'id': evenement.id}) }}">edit</a>

    {{ include('pages/evenement/_delete_form.html.twig') }}
{% endblock %}
