<nav>
    <ul>
        <li><a href="{{ path('home')}}">Home</a></li>
        <li><a href="{{ path('evenement.index')}}">Evenements</a></li>
        <li><a href="{{ path('security.registration')}}">Inscription</a></li>
        <li><a href="{{ path('security.login')}}">Connexion</a></li>
        <li><a href="{{ path('security.logout')}}">Déconnexion</a></li>
    </ul>
</nav>