{% extends "base.html.twig" %}

{% block body %}

{% block stylesheets%}
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% for message in app.flashes('success') %}
    <div>
        {{ message }}
    </div>
{% endfor %}

<section>
    <div class = "informationFestival">
        <p>Nom du festival</p>
        <p>Description</p>
        <p>date</p>
        <p>durée</p>
    </div>
    {% for festival in festivals %}
        <div class="wrapper">
            <div>{{ festival.nom }}</div>
            <div>{{ festival.description }}</div>
            <div>{{ festival.dateDebut|date('Y-m-d') }}</div>
            <div>{{ festival.duree|date("%m mois et %d jours") }}</div>
            <div><a href="{{ path('evenementsFestival', {id : festival.id })}}">voir</a></div>
        </div>
    {% endfor %}
</section>

{% if app.user %}
    {% if app.user.spectateur %}
    
    {% if app.user.spectateur.groupeFavoris is not empty %}
        <div class="infoFavoris">
            
            {% for evenement in evenementsGroupeFavoris %}
                <div class="wrapperFavoris">
                    <div>{{ evenement.nom }}</div>
                    <div>{{ evenement.dateEv|date('d/m/Y') }}</div>
                    <div>{{ evenement.heureDebut|date('H:i') }}</div>
                    <div>{{ evenement.dureeEv|date('H:i') }}</div>
                    <div>{{ evenement.typeEvent.typeEvent }}</div>
                    <div>{{ evenement.lieuEvent.adresse }}</div>
                    <div>{{evenement.groupe.nomGroupe}}</div>
                    <div>{{ evenement.lieuEvent.nombrePlaceLieu }}</div>
                    <div><a href="{{ path('evenement.show', { id : evenement.id })}}">voir</a></div>
                    {% if 'ROLE_SPECTATEUR' in app.user.roles %}
                            <div><a href="{{ path('evenement.participe', {id : evenement.id} )}}">participer</a></div>
                    {% else %}
                        <div><a disabled>participer</a></div>
                    {% endif %}
                    {% if app.user.spectateur in evenement.spectateurs %}
                        <div><img src="{{asset('images/ticketConcert.png')}}" alt="" class="imgTicket"></div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endif %}
{% endif %}
{% endblock %}