{% extends "base.html.twig" %}

{% block body %}

{% for message in app.flashes('success') %}
    <div>
        {{ message }}
    </div>
{% endfor %}

<div>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Date début</th>
                <th>Durée</th>
            </tr>
        </thead>
        <tbody>
            {% for festival in festivals %}
                <tr>
                    <td>{{ festival.nom }}</td>
                    <td>{{ festival.description }}</td>
                    <td>{{ festival.dateDebut|date('Y-m-d') }}</td>
                    <td>{{ festival.duree|date("%m mois et %d jour") }}</td>
                    <td><a href="{{ path('evenementsFestival', {id : festival.id })}}">voir</a></td>


                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}