{% extends "base.html.twig" %}

{% block body %}

{% block stylesheets%}
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}


<section>

    {% for festival in festivals %}
        <div class="wrapper festi">
            <div> 
                <h2>Festival : {{ festival.nom }}</h2>
                <div> Date début: {{ festival.dateDebut|date('Y-m-d') }}</div>
                <div> Date fin: {{ festival.dateFin|date("%m mois et %d jours") }}</div>
                <div><a href="{{ path('evenementsFestival', {id : festival.id })}}">voir</a></div>
            </div>
            <div> 
                
                <div><b>Description : </b>{{ festival.description }}</div>
            </div>
        </div>
    {% endfor %}
</section>



{% if app.user %}
    {% if app.user.spectateur %}
    
    {% if app.user.spectateur.groupeFavoris is not empty %}
    
        <div class="infoFavoris">
            
            {% for evenement in evenementsGroupeFavoris %}
                <div class="wrapperFavoris wrapper">
                    <h2>{{ evenement.nom }}</h2>
                    <div>{{ evenement.dateEv|date('d/m/Y') }}</div>
                    <div>Heure de début : {{ evenement.heureDebut|date('H:i') }}h</div>
                    <div> {{ evenement.dureeEv|date('H:i') }}h</div>
                    <div>{{ evenement.typeEvent.typeEvent }} au {{ evenement.lieuEvent.adresse }}</div>
                    <div></div>
                    <div>{{evenement.groupe.nomGroupe}}</div>
                    <div>{{ evenement.lieuEvent.nombrePlaceLieu }}</div>
                    <div class="btnVoirParticipez">
                        <a href="{{ path('evenement.show', { id : evenement.id })}}">voir</a>
                        
                        {% if 'ROLE_SPECTATEUR' in app.user.roles %}
                                <a href="{{ path('evenement.participe', {id : evenement.id} )}}">participer</a>
                        {% else %}
                            <div><a disabled>participer</a></div>
                        {% endif %}
                        {% if app.user.spectateur in evenement.spectateurs %}
                        <img src="{{asset('images/ticketConcert.png')}}" alt="" class="imgTicket">
                        {% endif %}
                    </div>
                    
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endif %}
{% endif %}
{% endblock %}