{% extends "base.html.twig" %}
{% block stylesheets%}
        <link rel="stylesheet" href="{{ asset('css/groupe.css') }}">
{% endblock %}
{% block body %}
    <h1>Groupes :</h1>

    {% for message in app.flashes('success') %}
        <div>
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('warning') %}
        <div>
            {{ message }}
        </div>
    {% endfor %}

    <ul class="wrapperGroupe">
        {% for groupe in groupes %}  
            <li>
                <ul>
                    <li class="carteGroupe">
                        <p>Groupe : {{groupe.nomGroupe}}</p>
                        <ul>
                            <li>
                                <p>Style</p> 
                                <ul>
                                    {% for style in groupe.styles %}
                                        <li>{{style.nomStyle}}</li>
                                    {% endfor %}
                                </ul> 
                            </li>
                            <li>
                                <p>Membres</p> 
                                <ul>
                                    {% for membre in groupe.membres %}
                                        <li>{{membre.nom}} {{membre.prenom}} joue :<ul>
                                            {% for instrument in membre.instruments %}
                                                <li class="instrument"> -{{instrument.nomInstrument}}</li>
                                            {% endfor %}
                                        </ul></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>

                                {% if app.user %}
                                {% if app.user.spectateur %}
                                <div><a href="{{ path('groupe.ajouterFavoris', { id : groupe.id })}}">+ Favoris</a></div>
                                {% endif %}
                                {% endif %}
                                <br>
                                <br>
                                {% if app.user %}
                                {% if app.user.spectateur %}
                                {% if app.user.spectateur in groupe.spectateursFavoris %}
                                <div><img src="{{asset('images/stars.png')}}" alt="" class="imgTicket"></div>
                                {% endif %}
                                {% endif %}
                                {% endif %}
                            
                          

                            </li>
                        </ul>

                    </li>
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}