{% extends "base.html.twig" %}

{% block body %}

<ul>
<li>Nom : {{ user.nom }}</li>
<li>Prénom : {{ user.prenom }}</li>
<li>Email : {{ user.email }}</li>


{% if 'ROLE_MEMBRE' in app.user.roles %}
    <ul>
    {% for instrument in membre.instruments %}
        <li>{{ instrument.nomInstrument }}</li>
    {% endfor %}
    </ul>
    <li><a href="{{ path('instrument.new') }}">Ajouter un nouvelle instrument</a></li>

    {% if membre.groupe is null %}
        <li>Demander a un admin de vous ajouter a un groupe</li>
    {% else %}
        <li>Nom du groupe : {{ membre.groupe.nomGroupe }}</li>
    {% endif %}

    {% if membre.groupe is null %}
        <li>Pas d'hebergement pour le moment</li>
    {% else %}
        {% if membre.groupe.hebergements is empty %}
        <li>Pas d'hebergement pour le moment</li>
        {% else %}
            <li>Hebergement : </li>
            <ul>
            {% for hebergement in membre.groupe.hebergements %}
                <li>Nom : {{ hebergement.nomHebergement }}</li>
                <li>Adresse : {{ hebergement.adresse }}</li>
                <li>Place : {{ hebergement.nbPlaceHebergement }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    <li>Demander a un admin pour avoir acces a un hebergement</li>
    
</ul>

{% endif %}

{% if app.user %}
    <li><a href="{{ path('user.edit', {id : app.user.id })}}">Modifier profil</a></li>
    <li><a href="{{ path('user.editMotDePasse', {id : app.user.id })}}">Modifier mon mot de passe</a></li>
{% endif %}


{% endblock %}