{% extends "base.html.twig" %}

{% block body %}

<h2>Profil</h2>

<ul>
<li>Nom : {{ user.nom }}</li>
<li>Prénom : {{ user.prenom }}</li>
<li>Email : {{ user.email }}</li>

{% if app.user %}

{% if 'ROLE_MEMBRE' in app.user.roles %}
    <ul>
    {% for instrument in membre.instruments %}
        <li>{{ instrument.nomInstrument }}</li>
    {% endfor %}
    </ul>
    <li><a href="{{ path('instrument.new') }}">Ajouter un nouvelle instrument</a></li>

    {% if membre.groupe is null %}
        <li>Demander a un admin de vous ajouter a un groupe</li>
    {% else %}
        <li>Nom du groupe : {{ membre.groupe.nomGroupe }}</li>
    {% endif %}

    {% if membre.groupe is null %}
        <li>Pas d'hebergement pour le moment</li>
    {% else %}
        {% if membre.groupe.hebergements is empty %}
        <li>Pas d'hebergement pour le moment</li>
        {% else %}
            <li>Hebergement : </li>
            <ul>
            {% for hebergement in membre.groupe.hebergements %}
                <li>Nom : {{ hebergement.nomHebergement }}</li>
                <li>Adresse : {{ hebergement.adresse }}</li>
                <li>Place : {{ hebergement.nbPlaceHebergement }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    <li>Demander a un admin pour avoir acces a un hebergement</li>
</ul>
{% endif %}


{% if 'ROLE_SPECTATEUR' in app.user.roles %}

    <h2>Groupe favoris :</h2>
    <ul>
        {% for groupe in groupeFavoris %}  
            <li>
                <ul>
                    <li>Nom : {{groupe.nomGroupe}}</li>
                    <li>Style : <ul>
                        {% for style in groupe.styles %}
                            <li>{{style.nomStyle}}</li>
                        {% endfor %}
                    </ul> </li>
                    <li>Membres : <ul>
                        {% for membre in groupe.membres %}
                            <li>{{membre.nom}} {{membre.prenom}} joue :<ul>
                                {% for instrument in membre.instruments %}
                                    <li>{{instrument.nomInstrument}}</li>
                                {% endfor %}
                            </ul></li>
                        {% endfor %}
                    </ul></li>
                </ul>
            </li>
            <li><a href="{{ path('groupe.enleverFavoris', { id : groupe.id })}}">Retirer des favoris</a></li>
        {% endfor %}
    </ul>

{% endif %}

    <li><a href="{{ path('user.edit', {id : app.user.id })}}">Modifier profil</a></li>
    <li><a href="{{ path('user.editMotDePasse', {id : app.user.id })}}">Modifier mon mot de passe</a></li>
{% endif %}


{% endblock %}